html {
  background-color: rgb(0, 0, 0);
  background:url("map-of-world.jpg") top left no-repeat;
  background-size: 100% 100%;
  height:100%;
}

body, div, p, select, button {
	font-family: "Times New Roman", Times, serif;
	font-size:25px;
}
#border{
    border: 2px solid black;
    background-color: rgb(47, 70, 45);
    padding: 10px;
    border-radius: 25px;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

#currentStory {
    border-radius: 5px;
    background-color: rgb(212, 239, 223  );
    padding:2px;
    margin-top: 29px;
    margin-bottom: 20px;
    margin-right: 14px;
    margin-left: 14px;
    width: 95%;
    height: 60%;
    overflow-y: scroll;
}

select {
    width: 95%;
    background-color: rgb(212, 239, 223  );
    padding-top: 0px;
    margin-top: 2px;
    margin-bottom: 9px;
    margin-right: 19px;
    margin-left: 19px;
}

button {
    width: 95%;
    height: 90px;
    background-color: rgb(212, 239, 223  );
    margin-top: 2px;
    margin-bottom: 9px;
    margin-right: 19px;
    margin-left: 19px;
}